
.wrapper {
  inset: 0;
  z-index: 0;
  width: 100%;
  display: flex;
  height: 100vh;
  position: fixed;
  overflow: hidden;
  color: var(--white);
  align-items: center;
  justify-content: center;
  background: var(--black);
}

.hero {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.nameRow {
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
}

.firstName,
.lastName {
  line-height: 1;
  font-size: 18vw;
  font-weight: 800;
  letter-spacing: -0.04em;
}

.lastName {
  color: var(--light-gray);
}

.roleWrapper {
  width: 100%;
}

.role {
  font-size: 5vw;
  font-weight: 700;
  margin-top: 1.5rem;
  letter-spacing: 0.05em;
  color: var(--light-gray);
}

@media (min-width: 768px) {
  .nameRow {
    gap: 1.5rem;
    flex-direction: row;
  }

  .firstName,
  .lastName {
    font-size: 12vw;
  }

  .role {
    font-size: 2vw;
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .role {
    text-align: right;
  }
}
