.wrapper {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    position: relative;
    background: var(--black);
}

.content {
    z-index: 20;
    position: relative;
    background: transparent;
}

.chevronSection {
    height: 100vh;
    display: flex;
    padding: 7rem;
    font-weight: bold;
    color: var(--white);
    align-items: flex-end;
    justify-content: center;
}

.section {
    width: 100%;
    height: 100vh;
}