.wrapper {
    width: 100%;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    color: var(--white) !important;
    background-color: var(--black);
}

.container {
    font-weight: 700;
    line-height: 1;
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.left {
    text-align: center;
}

.right {
    text-align: center;
}

.actions {
    width: 100%;
    gap: 0.5rem;
    display: flex;
    text-align: center;
    margin-top: 1.25rem;
    flex-direction: column;
}

.card {
    margin: 0px 10px;
    cursor: pointer;
    padding: 1.75rem;
    border-radius: 1rem;
    transition: all 0.3s ease;
    border: 2px solid var(--white);
}

.card:hover {
    color: var(--black);
    background: var(--white);
}

.cardText {
    font-size: 1.5rem;
}

@media (min-width: 768px) {
    .heading {
        font-size: 6rem;
    }

    .actions {
        flex-direction: row;
        justify-content: flex-end;
    }

    .cardText {
        font-size: 1.875rem;
    }
}

@media (min-width: 1024px) {
    .heading {
        font-size: 190px;
    }

    .left {
        text-align: left;
    }

    .right {
        text-align: right;
    }

    .cardText {
        font-size: 3rem;
    }
}