.section {
    width: 100%;
    display: flex;
    overflow: hidden;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
    background: var(--white);
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
}

.titleWrapper {
    width: 100%;
    display: flex;
    padding: 1.5rem;
    justify-content: center;
}

.title {
    font-weight: 800;
    text-align: center;
    font-size: 3.75rem;
    color: var(--slate);
}

.title span {
    color: var(--gray-md);
}

.grid {
    width: 100%;
    gap: 1.5rem;
    flex-grow: 1;
    display: grid;
    max-width: 72rem;
    padding: 0 1.5rem;
    grid-template-columns: 1fr;
}

.card {
    display: block;
    overflow: hidden;
    border-radius: 1rem;
    transition: all 0.3s ease;
    background: var(--white-darker);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.card:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.imageWrapper {
    width: 100%;
    height: 11rem;
    overflow: hidden;
}

.imageWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.card:hover img {
    transform: scale(1.05);
}

.content {
    padding: 1rem;
    text-align: center;
}

.content h2 {
    font-weight: 600;
    color: var(--slate);
    font-size: 1.125rem;
    transition: color 0.3s ease;
}

.card:hover h2 {
    color: var(--gray-dark);
}

.content p {
    margin-top: 0.5rem;
    font-size: 0.875rem;
    color: var(--gray-lg);
}

.buttonWrapper {
    margin: 1.5rem 0 2.5rem;
}

.buttonWrapper button {
    border: none;
    cursor: pointer;
    color: var(--white);
    border-radius: 999px;
    padding: 0.75rem 1.5rem;
    background: var(--slate);
    transition: background 0.3s ease;
}

.buttonWrapper button:hover {
    background: var(--gray-dark);
}

@media (min-width: 640px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 6rem;
    }

    .imageWrapper {
        height: 12rem;
    }
}